@page
@using Ahead.Web.Pages
@model Ahead.Web.Pages.Graph

@{
    Layout = "Shared/_Layout";
}

@if (TempData["Message"] is { } message)
{
    <p class="notice">@message</p>
}

<h2>Create a user</h2>
<form method="post">
    <input type="text" name="@nameof(Graph.Name)">
    <button type="submit">Add the User</button>
</form>